.express-button {
    padding: 0.75rem 2rem;
    background-color: #80b1b7;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 2px 7px 15px rgb(132 180 180 / 51%);
}

.express-button:hover {
    background-color: #326565;
    color: #ffffff;
}

.express-button:active {
    background-color: #264d4d;
}

.express-button:disabled {
    background-color: #55878d;
    cursor: not-allowed;
}