.info-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.info-steps {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .info-title {
        margin-bottom: 2rem;
    }
    .info-steps {
        margin-bottom: 3rem;
    }
}